{% extends "map_app/base.html" %}
{% load humanize %}

{% block body_block %}
<div class="jumbotron">
  <h1>Detalhes da despesa</h1>
  <ul>
    <li>
      <h6>Instituicao - Orgao: {{despesa.orgao_instituicao.instituicao.nome}} - {{despesa.orgao_instituicao.orgao.nome}}</h6>
    </li>
    <li>
      <h6>Elemento: {{despesa.elemento}}</h6>
    </li>
    <li>
      <h6>Data de inicio: {{despesa.data_inicio}}</h6>
    </li>
    <li>
      <h6>Empenhado: R$ {{despesa.empenhado|intcomma}}</h6>
    </li>
    <li>
      <h6>Anulado: R$ {{despesa.anulado|intcomma}}</h6>
    </li>
    <li>
      <h6>Liquidado: R$ {{despesa.liquidado|intcomma}}</h6>
    </li>
    <li>
      <h6>Pago: R$ {{despesa.pago|intcomma}}</h6>
    </li>
    <li>
      <h3>Descricao:</h3>
      <p>{{despesa.descricao}}</p>
    </li>
  </ul>
</div>
{% endblock %}
