{% extends "map_app/base.html" %}
{% load humanize %}
{% block body_block %}

<div class="jumbotron">
  <h1>{{orgao.nome}}</h1>
  <ul>
    <li>
      <h6>Telefone: {{orgao.telefone}}</h6>
    </li>
    <li>
      <h6>Email: {{orgao.email}} </h6>
    </li>
    <li>
      <h6>Site:<a href="{{orgao.site}}">{{orgao.site}}</a></h6>
    </li>
  </ul>
  <h2>Gastos em {{ano}}:</h2>
  <ul>
    <li>
      <h5>Empenhado: R$ {{empenhado|intcomma}}</h5>
    </li>
    <li>
      <h5>Gasto: R$ {{gasto|intcomma}}</h5>
    </li>
  </ul>
</div>

<div class="container-fluid">
  <h3>Instituições:</h3>
  <ul>
    {% for instituicao in orgao.instituicoes.all %}
    <li>
      <h4> <a href="{% url 'instituicao_detail' instituicao.id %}">{{instituicao.nome}}</a> </h4>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
